
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/SF-Pro-Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.genderButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.genderButton {
  display: flex;
  width: 140px;
  height: 140px;
  /*padding: 0px 24px;*/
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--white-16, rgba(255, 255, 255, 0.16));

  color: var(--white, #FFF);
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 92px */
}

.genderButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.genderText {
  color: var(--white, #FFF);
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
}

@media (hover: hover) and (pointer: fine) {
  .genderButton:hover { transform: scale(1.05) perspective(1px); }
}

