
@keyframes bounce {
  0%, 100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px); /* Adjust the value to control the bounce height */
  }
}

.lpImageContainer {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10.219px;
}

.rankCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.219px;
}

.leaderboardImage1 {
  width: 76.641px;
  height: 76.641px;
  border-radius: 76.641px;
  animation: bounce 2s infinite; /* Adjust the duration as needed */
  animation-delay: 1100ms;
}

.leaderboardImage2 {
  width: 76.641px;
  height: 76.641px;
  border-radius: 76.641px;
  animation: bounce 2s infinite; /* Adjust the duration as needed */
  animation-delay: 650ms;
}

.leaderboardImage3 {
  width: 76.641px;
  height: 76.641px;
  border-radius: 76.641px;
  animation: bounce 2s infinite; /* Adjust the duration as needed */
}

.barGraphColumn {
  /*display: flex;*/
  width: 103px;
  /*padding: 8px 25.547px 25.547px 25.547px;*/
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*gap: 25.547px;*/
  overflow:hidden;
  border-radius: 10.219px;
}

.height1 {
  height: 265px;
  background: rgba(255, 255, 255, 0.40);
}

.height2 {
  height: 216px;
  background: rgba(255, 255, 255, 0.30);
}

.height3 {
  height: 171px;
  background: rgba(255, 255, 255, 0.20);
}

.medal {
  padding-top: 8px;
  width: 54x;
  height: 54px;
}
