
@keyframes bounce {
  0%, 100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px); /* Adjust the value to control the bounce height */
  }
}

.lpImageContainer {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10.219px;
  /*transform: scale(calc(70vw / 329));*/
  /*border-radius: 1000px;*/
  /*clip-path: ellipse(90% 45% at 45% 45%);*/
  clip-path: ellipse(90% 90% at 50% 0%);
  /*overflow: hidden;*/
  /*border-bottom-left-radius: 50% 25%; /* Adjust these percentages to get the curve you want 
  border-bottom-right-radius: 50% 25%;*/
}

.rankCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(10.219px, 1.98427vw);
}

.leaderboardImage1 {
  filter: blur(10px);
  width: min(76.641px, 14.8817vw);
  height: min(76.641px, 14.8817vw);
  border-radius: min(76.641px, 14.8817vw);
  animation: bounce 2s infinite; /* Adjust the duration as needed */
  animation-delay: 1100ms;
}

.leaderboardImage2 {
  filter: blur(10px);
  width: min(76.641px, 14.8817vw);
  height: min(76.641px, 14.8817vw);
  border-radius: min(76.641px, 14.8817vw);
  animation: bounce 2s infinite; /* Adjust the duration as needed */
  animation-delay: 650ms;
}

.leaderboardImage3 {
  filter: blur(10px);
  width: min(76.641px, 14.8817vw);
  height: min(76.641px, 14.8817vw);
  border-radius: min(76.641px, 14.8817vw);
  animation: bounce 2s infinite; /* Adjust the duration as needed */
}

.barGraphColumn {
  /*display: flex;*/
  width: min(103px, 20vw);
  /*padding: 8px 25.547px 25.547px 25.547px;*/
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*gap: 25.547px;*/
  overflow:hidden;
  /*border-radius: 10.219px;*/
  border-radius: min(10.219px, 1.984vw);
}

.height1 {
  height: min(265px, 25vh);
  background: rgba(255, 255, 255, 0.40);
}

.height2 {
  height: min(216px, 21.09375vh);
  background: rgba(255, 255, 255, 0.30);
}

.height3 {
  height: min(171px, 16.69921875vh);
  background: rgba(255, 255, 255, 0.20);
}

.medal {
  padding-top: 8px;
  width: 54px;
  height: 54px;
}
