@font-face {
  font-family: 'Rubik One';
  src: url('../fonts/RubikOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.shareButton {
  display: flex;
  height: 64px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 1000px;
  background: var(--white, #FFF);
  cursor: pointer;
}

.shareButtonText {
  color: #EC11C8;
  text-align: center;
  font-family: Rubik One;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 24.7px */
  letter-spacing: -0.095px;
  text-transform: uppercase;
}

.shareButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.shareButtonArrow {
  width: 5px;
  height: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .shareButton:hover { transform: scale(1.05) perspective(1px); }
}
