
body {
  padding: 0;
  margin: 0;
}

.topPageContainer {
  display: flex;
  padding: 100px 24px 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

.hangerCarousel {
  display: flex;
  /*width: 375px;*/
  align-items: center;
  gap: 20px;
}

.secondaryPagesContainer {
  display: flex;
  padding: 80px 24px;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  align-self: stretch;
}