
@font-face {
  font-family: 'Rubik One';
  src: url('./fonts/RubikOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./fonts/SF-Pro-Rounded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hobeaux';
  src: url('./fonts/Hobeaux-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-file-upload-button {
  display: none;
}

::file-selector-button {
  display: none;
}

.overallSignupContainer {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background: #0CA0E4;
}

.signupContainer {
  display: flex;
  /*height: 100dvh;*/
  height: 100dvh;
  width: 100vw;
  /*padding-top: 30px;*/
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  overflow: hidden;
}

.formContainer {
  display: flex;
  margin-top: -10vh;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.genderButtonContainer {
  gap: 10px;
}

.formTextGap {
  gap: 16px;
  height: 24px;
}

.formText {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Rubik One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.formSubtext {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Rubik One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}


.textInput {
  display: flex;
  height: 64px;
  padding: 0px 24px;
  align-items: center;
  gap: 8px;
  align-self: center;
  border-radius: 12px;
  border: 2px solid var(--white, #FFF);
  background: var(--white-16, rgba(255, 255, 255, 0.16));
  width: min(327px, 80vw);

  /* text */
  color: var(--white, #FFF);
  font-family: Rubik One;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 24.7px */
  letter-spacing: -0.095px;
  text-transform: uppercase;

  outline: none;
}

.photoEmptyCircle {
  display: flex;
  width: 255px;
  height: 255px;
  /*padding: 0px 61.2px;*/
  justify-content: center;
  align-items: center;
  gap: 20.4px;

  border-radius: 2550px;
  border: 5.1px solid var(--white, #FFF);
  background: var(--white-16, rgba(255, 255, 255, 0.16));
}

.photoFullCircle {
  display: flex;
  width: 255px;
  height: 255px;
  /*margin-top: -20px;*/
  /*padding: 0px 61.2px;*/
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 2550px;
  object-fit: cover;
}

.videoFullCircle {
  display: flex;
  width: 1px;
  height: 1px;
  margin-top: -41px;
  /*padding: 0px 61.2px;*/
  justify-content: center;
  align-items: center;
  border-radius: 2550px;
  object-fit: cover;
}

.photoButtonGroup {
  display: flex;
  width: 317px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.photoButton {
  display: flex;
  height: 40px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 1000px;
  background: var(--white, #FFF);
  cursor: pointer;
}

.photoButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.retakeButton {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  /*margin-top: -30px;*/

  border-radius: 1000px;
  border: 2px solid var(--white, #FFF);
  background: var(--white-16, rgba(255, 255, 255, 0.16));

  color: var(--white, #FFF);
  text-align: center;
  font-family: Rubik One;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 24.7px */
  letter-spacing: -0.095px;
  text-transform: uppercase;
}

.retakeButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

/* Visually hide the file input */
.fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /*clip: rect(0, 0, 0, 0);*/
  border: 0;
}

.photoPlaceholder {
  width: 90px;
  /*height: 133px;*/
}

/*.textInputText {

}*/

.nextButton {
  display: flex;
  height: 64px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 34px;
  bottom: 26px;
  border-radius: 1000px;
  background: var(--white, #FFF);
  cursor: pointer;
}

.nextButton:active {
  /*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.nextButtonText {
  color: #EC11C8;
  text-align: center;
  font-family: Rubik One;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 24.7px */
  letter-spacing: -0.095px;
  text-transform: uppercase;
}

.nextButtonArrow {
  width: 5px;
  height: 10px;
}

.errorText {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  /*line-height: 115%; /* 27.6px */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  /*margin-top: -20px;*/
}

.numberAnimation {
  text-align: center;
  font-family: SF Pro Rounded;
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 200;
  z-index: 100;
}

.miniImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-top: -20px;*/
  gap: min(5vw, 33px);
}

.miniImage {
  width: min(15vw, 100px);
  height: min(15vw, 100px);
  border-radius: min(15vw, 100px);
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  .nextButton:hover { transform: scale(1.05) perspective(1px); }
  .retakeButton:hover { transform: scale(1.05) perspective(1px); }
  .photoButton:hover { transform: scale(1.05) perspective(1px); }
}

